@import "settings.scss";
body {
   background-color: #E5E5E5;
}
.wrapper {
   overflow: hidden;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}
[class*="__container"] {
   max-width: 1198px;
   margin: 0px auto;
   padding: 40px 15px 0px 15px;
}
.main {
   flex: 1 1 auto;
}
/*--------------------header------------------*/
.header{
   min-height: 36px;
   padding: 0px 0px 27px 0px;
   position: relative;
}
.header {

		// .header__container

		&__container {
		}

		// .header__body

		&__body {
         display: flex;
         justify-content: space-between;
         align-items: center;
		}

		// .header__bg

		&__bg {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         img{
            object-position: left;
            position: absolute;
            z-index: -1;
            object-fit: cover;
         }
		}
}
.header-body {
   position: relative;
   z-index: 5;
		// .header-body__logo

		&__logo {
		}

		// .header-body__btn

		&__btn {
         background-color: #156963;
         position: relative;
         top: 0;
         padding: 8px 32px;
         cursor: pointer;
         transition: .3s ease border-radius, .3s ease box-shadow, .2s ease background-color, .2s ease top;
         span{
            font-family: 'Montserrat';
            font-style: normal;
            font-size: 14px;
            line-height: 143%;
            text-align: center;
            color: #FFFFFF;
         }
         &:hover{
            border-radius: 8px;
            box-shadow:8px 8px 11px #156963;
         }
         &:active{
         background-color: #005853;
         top: 2px;
         box-shadow:5px 5px 11px #156963;
         }
		}
}

 /*------form-----------*/

.popup {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: none;
   align-items: center;
   justify-content: center;
   z-index: 1;
   background-color: #e5e5e55d;
}
.popup-body {

		// .popup-body__content

		&__content {
         padding: 40px 0px 38px 0px;
         width: 470px;
         height: 457px;
         background-color: #FFFFFF;
         box-shadow: 3.29698px 3.84647px 16.4849px 3.84647px rgba(155, 155, 155, 0.25);
         border-radius: 8.37862px;
         display: flex;
         flex-direction: column;
         align-items: center;
         position: relative;
		}
}
.popup-content {

		// .popup-content__close

		&__close {
         cursor: pointer;
         position: absolute;
         top: 21px;
         right: 24px;
		}

		// .popup-content__geo

		&__geo {
         padding: 23.5px 22.5px;
         background-color: #001E35;
         border-radius: 50%;
         margin: 0px 0px 20px 0px;
		}

		// .popup-content__title

		&__title {
         font-family: 'Montserrat';
         font-style: normal;
         font-weight: 700;
         font-size: 21px;
         line-height: 121.5%;
         color: #000000;
         margin-bottom: 11px;
		}

		// .popup-content__text

		&__text {
         font-family: 'Montserrat';
         font-style: normal;
         font-weight: 400;
         font-size: 17px;
         line-height: 121.5%;
         text-align: center;
         letter-spacing: -0.025em;
         color: #454444;
         margin-bottom: 16px;
         padding: 0px 20px;
		}
}
.form-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   input[type=text], input[type=tel] {
      width: 390px;
      padding: 8.82px 15.76px;
      margin: 0px 0 14.19px 0;
      border: 0.630345px solid #DBDEDF;
      border-radius: 15.7586px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 17.6497px;
      line-height: 23px;
      color: #454444;
      &::placeholder{
      color: #B5B8BE;
      }
   }
   input{
      &:focus{
      border: 0.630345px solid #000000;
      }
   }
}
.tel {
}
.buttons {
   display: flex;
   align-items: center;
}
.btn {
   padding: 8px 47px;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 17px;
   line-height: 130%;
   display: flex;
   align-items: center;
   text-align: center;
   position: relative;
   color: #000000;
   background-color: #FFFFFF;
   border: 0.630345px solid #CCE1FE;
   box-sizing: border-box;
   box-shadow: 0px 1.48681px 2.97363px rgba(0, 0, 0, 0.15);
   border-radius: 15.7586px;
   transition: .3s ease background-color, .3s ease top, .3s ease box-shadow;
   &:hover{
   background-color: #E8F2FF;
   box-shadow: 0px 6px 2.97363px rgba(0, 0, 0, 0.15);
   }
   &:active{
   box-shadow: 0px 3px 2.97363px rgba(0, 0, 0, 0.15);
   top: 2px;
   background-color: #b6d6ff;
   }
}
.cancel {
   margin-right: 33px;
}
 /*-----------page-kembang------------*/

.page-kembang {
   padding: 43px 0px 82px 0px;
		// .page-kembang__container

		&__container {
   position: relative;
		}

		// .page-kembang__body

		&__body {
         display: flex;
         justify-content: flex-end;
		}

		// .page-kembang__information

		&__information {
         flex: 0 1 539px;
         margin: 0px 0px 0px 0px;
         display: flex;
         flex-direction: column;
         position: relative;
		}

		// .page-kembang__info

		&__info {
      margin: 0px 0px 110px 0px;
		}

		// .page-kembang__buttons

		&__buttons {
         position: absolute;
         display: flex;
         flex-direction: row;
         align-items: center;
         bottom: -160px;
         right: 0;
         width: 586px;
         margin: 0px -58px 0px 0px;
		}
}
.kembang-info {

		// .kembang-info__title

		&__title {
         font-family: 'Montserrat';
         font-style: normal;
         font-weight: 500;
         font-size: 68px;
         line-height: 122%;
         color: #156963;
         margin-bottom: 24px;
		}

		// .kembang-info__text

		&__text {
         font-family: 'Montserrat';
         font-style: normal;
         font-weight: 400;
         font-size: 18px;
         line-height: 178%;
         color: #2C1500;
         opacity: 0.8;
         padding: 0px 47px 0px 0px;
		}
}
.kembang-button {
   cursor: pointer;
   transition: .3s ease background-color,.3s ease color,.3s ease box-shadow, .3s ease top;
		// .kembang-button__title

		&__title {
         position: relative;
         display: flex;
         align-items: start;
         font-family: 'Montserrat';
         font-style: normal;
         font-weight: 500;
         font-size: 24px;
         line-height: 122%;
         opacity: 0.5;
         margin-bottom: 12px;
		}

		// .kembang-button__subtitle

		&__subtitle {
         font-family: 'Montserrat';
         font-style: normal;
         font-weight: 500;
         font-size: 32px;
         line-height: 122%;
		}
}
.white {
   padding: 38.5px 58px 38.5px 0px;
   position: relative;
   top: 0;
   div {
      color: #156963;
   }
   &:hover {
      background-color: #156963ad;
      box-shadow: -11px 11px 5px #15696365;
      div{
         color: #FFFFFF;
      }
   }
   &:active{
      top: 2px;
      box-shadow: -7px 7px 5px #15696365;
      background-color: #00534ebd;
   }
}
.previous {
   color: #333333;
   &::before{
      content: '';
      height: 32px;
      width: 32px;
      background-image: url(../img/kembang/Layer.svg);
      background-repeat: no-repeat;
      margin-right: 10px;
   }
}
.green {
   padding: 39px 58px 38px 40px;
   background-color: #156963;
   position: relative;
   top: 0;
   div{
   color: #FFFFFF;
   }
   &:hover{
      background-color: #156963ad;
      box-shadow: 11px 11px 5px #15696365;
   }
   &:active{
      top: 2px;
      box-shadow: 7px 7px 5px #15696365;
      background-color: #00534ebd;
   }
}
.next {
   color: #F2F2F2;
   div{
   color: #FFFFFF;
   }
   &::after{
      content: '';
      height: 32px;
      width: 32px;
      background-image: url(../img/kembang/arrow-back.svg);
      background-repeat: no-repeat;
      margin-left: 10px;
   }
}
 /*---------page-aboutus--------------*/

.page-aboutus {
   padding: 177px 0px 37px 0px;
		// .page-aboutus__container

		&__container {
		}

		// .page-aboutus__body

		&__body {
		}
}
.aboutus-body {

		// .aboutus-body__row

		&__row {
         display: flex;
         flex-direction: row;
         align-items: center;
         margin: 0 -16px;
		}

		// .aboutus-body__column

		&__column {
         flex: 0 1 25%;
         padding: 0 16px;
		}
}
.aboutus-column {

		// .aboutus-column__item

		&__item {
         padding: 22px 16px 21px 16px;
         background: #FFFFFF;
         border: 1px solid #E0E0E0;
         box-sizing: border-box;
		}
}
.column-item {
   display: flex;
   flex-direction: column;
   align-items: center;
		// .column-item__title

		&__title {
         font-family: 'Montserrat';
         font-style: normal;
         font-weight: 700;
         font-size: 16px;
         line-height: 150%;
         color: #156963;
         margin-bottom: 16px;
         display: flex;
         align-items: center;
         position: relative;
		}

		// .column-item__text

		&__text {
         font-family: 'Montserrat';
         font-style: normal;
         font-weight: 400;
         font-size: 10px;
         line-height: 160%;
         color: #2C1500;
		}

		// .column-item__img

		&__img {
      margin-bottom: 16px;
         img{
            height: 100%;
            width: 100%;
         }
		}

		// .column-item__subtitle

		&__subtitle {
         font-family: 'Montserrat';
         font-style: normal;
         font-weight: 400;
         font-size: 16px;
         line-height: 125%;
         color: #000000;
         margin-bottom: 8px;
		}

		// .column-item__price

		&__price {
         font-family: 'Montserrat';
         font-style: normal;
         font-weight: 600;
         font-size: 16px;
         line-height: 125%;
         color: #000000;
		}
}
.fast {
   &::before{
      content: '';
      width: 48px;
      height: 48px;
      background-image: url(../img/aboutus/fast.svg);
      background-repeat: no-repeat;
      margin-right: 16px;
   }
}
.headphones {
   &::before{
      content: '';
      width: 48px;
      height: 48px;
      background-image: url(../img/aboutus/headphones.svg);
      background-repeat: no-repeat;
      margin-right: 16px;
   }
}
.plant {
   &::before{
      content: '';
      width: 48px;
      height: 48px;
      background-image: url(../img/aboutus/plant.svg);
      background-repeat: no-repeat;
      margin-right: 16px;
   }
}
.dollar {
   &::before{
      content: '';
      width: 48px;
      height: 48px;
      background-image: url(../img/aboutus/dollar.svg);
      background-repeat: no-repeat;
      margin-right: 16px;
   }
}

 /*-------page-plants----------------*/


.page-plants {
   padding: 0px 0px 0px 0px;
		// .page-plants__container

		&__container {
		}

		// .page-plants__body

		&__body {
		}
}
.plants-body {

		// .plants-body__header

		&__header {
         display: flex;
         justify-content: space-between;
         margin-bottom: 14px;
		}

		// .plants-body__line

		&__line {
         border: 1px solid #E0E0E0;
         margin-bottom: 24px;
		}

		// .plants-body__items

		&__items {
		}
}
.plants-header {

		// .plants-header__title

		&__title {
         font-family: 'Montserrat';
         font-style: normal;
         font-weight: 500;
         font-size: 20px;
         line-height: 120%;
         color: #000000;
         margin-top: 4px;
		}

		// .plants-header__spoiler

		&__spoiler {
         padding: 8px 12px;
         background: #FFFFFF;
         border: 1px solid #E0E0E0;
         box-sizing: border-box;
         span{
            display: flex;
            align-items: center;
            position: relative;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 125%;
            color: #000000;
            &::after{
               width: 12px;
               height: 12px;
               content: '';
               background-image: url(../img/plants/chevron-down.svg);
               background-repeat: no-repeat;
               margin-left: 12px;
            }
         }
		}
}
.plants-items {

		// .plants-items__row

		&__row {
         display: flex;
         align-items: center;
         margin: 0 -10px;
		}
}
.items-row {

		// .items-row__column

		&__column {
         padding: 0 10px;
         flex: 0 1 20%;
		}
}
.footer {
   height: 324px;
}
/*----------------таблица----------*/
table {
   width: 450px;
   font-family: "Montserrat";
   font-size: 16px;
   border: 1px solid #000000;
   margin: auto;
}

.column__1 {
   padding: 5px 0px;
   border: 1px solid #000000;
   width: 36px;
   text-align: center;
}

.column__2 {
   padding: 5px 0px;
   border: 1px solid #000000;
   width: 14px;
   text-align: center;
}

.column__3 {
   padding: 5px 5px;
   border: 1px solid #000000;
   width: 251px;
   text-align: center;
}

.column__4 {
   padding: 5px 0px;
   border: 1px solid #000000;
   width: 43px;
   text-align: center;
}

 /*-------media-------*/
@import "media.scss";
